/* Complaint Details */
.complaint-details {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.complaint-details-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.complaint-wrapper {
  background-color: var(--white);
  border: 1px solid #ddd;
  padding: 30px;
}

.complaint-overview {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.complaint-overview h2 {
  font-size: 2rem;
  color: var(--dark);
  margin-bottom: 32px;
}
.complaint-overview h2 span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 8px;
  color: var(--primary);
  margin-bottom: 32px;
}

.complaint-overview p {
  font-size: 1rem;
  line-height: 24px;
  color: var(--dark);
  margin: 5px 0;
}

.complaint-description,
.complaint-evidence,
.complaint-updates,
.complaint-resolution {
  margin-bottom: 30px;
}

.complaint-description h2,
.complaint-evidence h2,
.complaint-updates h2,
.complaint-resolution h2 {
  font-size: 2rem;
  color: var(--dark);
  margin-bottom: 32px;
}

.complaint-description p,
.complaint-resolution p {
  font-size: 1rem;
  line-height: 24px;
  color: var(--dark);

}

.complaint-evidence ul {
  list-style-type: none;
  padding: 0;
}

.complaint-evidence ul li {
  margin-bottom: 10px;
}

.complaint-evidence ul li a {
  color: var(--primary);
  text-decoration: none;
}

.complaint-evidence ul li a:hover {
  text-decoration: underline;
}

.update {
  background-color: #f0f0f0;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.update h3 {
  font-size: 1.5rem;
  color: var(--dark);
  margin-bottom: 32px;
}

.complaint-resolution p {
  font-size: 1rem;
  line-height: 24px;
  color: var(--dark);
  font-style: italic;
  color: #666;
}

button {
  background-color: var(--primary); /* Green */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--primary);/* Darker green on hover */
}

@media (max-width: 768px) {
  .complaint-wrapper {
    padding: 20px;
  }

  .complaint-overview h2 {
    font-size: 22px;
  }
}
